.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    width: 150px;
  }

  .navbar_menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;

    li {
      cursor: pointer;
    }

    .active {
      padding-bottom: 5px;
      border-bottom: 2px solid var(--bg-pink-500);
    }
  }

  .navbar_right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid var(--bg-pink-500);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #fff4f2;
    }
  }

  .navbar_search_icon {
    position: relative;

    .dot {
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      background-color: var(--bg-pink-500);
      border-radius: 5px;
      top: -8px;
      right: -8px;
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    .logo {
      width: 100px;
    }

    .navbar_menu {
      gap: 15px;
      font-size: 16px;

      .active {
        padding-bottom: 3px;
      }
    }

    .navbar_right {
      gap: 30px;
      img {
        width: 20px;
      }
    }

    button {
      font-size: 14px;
      padding: 8px 25px;

      &:hover {
        background-color: #fff4f2;
      }
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    .logo {
      width: 80px;
    }

    .navbar_menu {
      display: none;
    }

    .navbar_right {
      gap: 15px;
      img {
        width: 20px;
      }
    }

    button {
      font-size: 12px;
      padding: 5px 15px;

      &:hover {
        background-color: #fff4f2;
      }
    }
  }
}
