.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    width: 150px;
  }

  .navbar_menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

    li {
      cursor: pointer;
    }

    .active {
      padding-bottom: 5px;
      border-bottom: 2px solid grey;
    }
  }

  .navbar_right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #fff4f2;
    }
  }

  .navbar_search_icon {
    position: relative;

    .dot {
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      background-color: tomato;
      border-radius: 5px;
      top: -8px;
      right: -8px;
    }
  }
}
