:root {
  --bg-pink-500: #e91e63;
  --text-pink-500: #e91e63;
}

@font-face {
  font-family: digi-kala;
  src: url("./assets/fonts/digi-kala_font.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: digi-kala;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  direction: rtl;
}

.app {
  width: 80%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
