@font-face {
  font-family: digi-kala;
  src: url("./assets/fonts/digi-kala_font.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: digi-kala;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
}

.app {
  width: 80%;
  margin: auto;
}
