.cart {
  margin-top: 100px;

  hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
  }

  .cart_items_title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
  }

  .cart_items_item {
    margin: 10px 0;
    color: black;

    img {
      width: 50px;
    }
  }
}
